@import '../styles/variables';

:host ::ng-deep {
    .p-button,
    .p-button-outlined:hover {
        color: $light-color;
        background-color: $accent-color;
        border: 1px solid $accent-color;
    }

    .p-button:hover {
        background-color: $accent-light-color;
        border: 1px solid $accent-light-color;
    }

    .p-button-outlined {
        color: $accent-color;
        background-color: transparent;
        border: 1px solid $accent-color;
    }
}
