<div class="container">
    <div class="site-list-container">
        <p-checkbox
            class="select-checkbox"
            [(ngModel)]="checked"
            [binary]="true"
            inputId="binary"
        />
        <div class="main-content">
            <span>Motionless Cent</span>
            <span>https://motionless-cent.name</span>
        </div>
        <div class="sub-content">2 Accounts</div>
        <span class="actions">
            <p-button
                icon="pi pi-chevron-right"
                [rounded]="true"
                [outlined]="true"
            />
        </span>
    </div>
</div>
