$primary-color: #ffffff;
$accent-color: #2a9d8f;
$accent-light-color: #57c0b3;

$light-color: #ffffff;
$light-fade-color: #f0f0f0;
$light-fade-more-color: #cdcdcd;

$dark-color: #0d0a0b;
$dark-fade-color: #4f4f4f;
$dark-fade-more-color: #888888;
