<div class="container">
    <app-button
        label="Add Site"
        icon="plus"
        [loading]="formVisible"
        (click)="showForm()"
    />

    <p-dataView #sitesdv [value]="sites" layout="list">
        <ng-template pTemplate="list" let-sites>
            <div *ngFor="let site of sites">
                <app-site [site]="site" />
            </div>
        </ng-template>
    </p-dataView>
</div>

<p-dialog
    header="Add a New Site"
    [modal]="true"
    [(visible)]="formVisible"
    [style]="{ width: '25rem' }"
>
    <div class="dialog-container">
        <p-inputGroup>
            <p-inputGroupAddon><i class="pi pi-globe"></i></p-inputGroupAddon>
            <input
                type="text"
                pInputText
                placeholder="Enter name of website..."
            />
        </p-inputGroup>

        <p-inputGroup>
            <p-inputGroupAddon><i class="pi pi-link"></i></p-inputGroupAddon>
            <input type="text" pInputText placeholder="Enter website URL..." />
        </p-inputGroup>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            label="Cancel"
            severity="secondary"
            size="small"
            (onClick)="closeForm()"
        />
        <p-button
            label="Save"
            severity="success"
            size="small"
            (onClick)="submitForm()"
        />
    </ng-template>
</p-dialog>
