@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

nav {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1px solid black;

    .title {
        flex: 1;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .button-container {
        p-button {
            margin-right: 30px;
        }

        p-button:last-child {
            margin-right: 0;
        }
    }
}

.container {
    padding: 1rem 7rem;
}

.site-list-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: 3px solid black;
    border-radius: 50px;
    padding: 7px 10px;

    .select-checkbox {
        grid-column: span 1;

        .p-checkbox {
            width: 3rem;
            height: 3rem;

            .p-checkbox-box {
                width: 3rem;
                height: 3rem;
                border-radius: 30px;
                display: flex;

                .p-checkbox-icon {
                    font-size: 30px;
                }
            }
        }
    }

    .main-content {
        padding-left: 15px;
        grid-column: span 6;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span:first-child {
            font-size: 1.4rem;
            font-weight: bolder;
        }

        span:last-child {
            margin-top: 2px;
            font-size: 0.8rem;
            font-family: monospace;
            color: gray;
        }
    }

    .sub-content {
        padding-left: 15px;
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1rem;
        color: gray;
    }

    .actions {
        padding-left: 15px;
        grid-column: span 2;
        display: flex;
        justify-content: end;
        align-items: center;

        .p-speeddial-button.p-button.p-button-icon-only {
            width: 2rem;
            height: 2rem;
        }
    }
}

@media (max-width: 768px) {
    html,
    body {
        font-size: 14px;
    }
}
